.flex {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
}

.card {
    width: 100%;
    height: 380px;
    cursor: pointer;
}

.title {
    margin-bottom: 30px;
}

.title button {
    display: block;
    margin: 0 auto;
}

.title h1 {
    text-align: center;
}

