.flex {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
}

.card {
    width: 100%;
    height: 380px;
    cursor: pointer;
}

.click {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.click button {
    display: block;
    margin: 0 auto;
}